body {
  text-align: center;
}

.title {
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.design {
  background-image: url(../images/the-flatiron-building.png);
}

h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.footer {
  font-family: Helvetica;
  background-image: url(../images/the-flatiron-building.png);
  text-align: left;
  color: white;
}
