body {
  text-align: center;
}

.title {
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#mainmenu a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

#mainmenu li {
  list-style: none;
}

.design {
  background-image: url(../images/the-flatiron-building.png);
}

h3 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

#wedo {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

#bigapple {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

#copy {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
}

#footermenu a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

#footermenu li {
  display: inline-block;
  list-style: none;
}
